<!DOCTYPE html>
<html>
<head>
    <title>MessLess</title>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href="/stylesheets/ingredients.css" rel="stylesheet">

    <!-- Third party libraries-->
    <script src="/javascripts/lib/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/lib/underscore-min.js"></script>
    <script src="/javascripts/lib/backbone-min.js"></script>
    <script src="/javascripts/lib/leap.js"></script>
    
    <!-- Backbone views -->
    <script src="/javascripts/timer-view.js"></script>
    <script src="/javascripts/instruction-view.js"></script>
    <script src="/javascripts/ingredients-view.js"></script>
    <script src="/javascripts/query-view.js"></script>

    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/leap-handler.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- <h1>{{{title}}}</h1> -->
    <div id="Main">
        <div id="query-view"></div>
        <div id="ingredients-list">

        </div>
        <div id="Timer-list-container">
            <div id="Timer-list" class="animate-translation"></div>
        </div>
        <div id="Instruction-list-container">
            <div id="Instruction-list" class="animate-translation"></div>
        </div>
    </div>
</body>
</html>
