html {
  height: 100%; }

body {
  font-family: 'Oxygen';
  height: 100%; }
  body #Main {
    height: 100%; }
  body h1 {
    font-size: 48px;
    text-align: left;
    margin: 50px 0 0 7%; }
  body #ingredients-list {
    width: 100%;
    height: 100%; }
  body #ingredients {
    width: 100%;
    float: right;
    margin: 15% 7% 0 0; }
  body ul {
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    -moz-transition: margin-top 0.5s; }
    body ul li {
      font-size: 36px;
      list-style: none;
      padding-left: 0px;
      margin-right: 7%;
      text-align: right;
      white-space: nowrap;
      opacity: 1;
      transition: margin-right 2.5s, opacity 1s;
      -webkit-transition: margin-right 2.5s, opacity 1s;
      -o-transition: margin-right 2.5s, opacity 1s;
      -moz-transition: margin-right 2.5s, opacity 1s; }
      body ul li.hidden {
        margin-right: 100%;
        opacity: 0; }
    body ul .faded {
      color: #7f8c8d; }
  body .cf:before,
  body .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  body .cf:after {
    clear: both; }
