@mixin animate($attr, $transition-time) {
    transition: $attr $transition-time;
    -webkit-transition: $attr $transition-time;
    -o-transition: $attr $transition-time;
    -moz-transition: $attr $transition-time;
}

@mixin animateTwo($attr1, $transition-time1, $attr2, $transition-time2) {
    transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -webkit-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -o-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -moz-transition: $attr1 $transition-time1, $attr2 $transition-time2;
}

@mixin animateThree($attr1, $transition-time1, $attr2, $transition-time2, $attr3, $transition-time3) {
    transition: $attr1 $transition-time1, $attr2 $transition-time2, $attr3 $transition-time3;
    -webkit-transition: $attr1 $transition-time1, $attr2 $transition-time2, $attr3 $transition-time3;
    -o-transition: $attr1 $transition-time1, $attr2 $transition-time2, $attr3 $transition-time3;
    -moz-transition: $attr1 $transition-time1, $attr2 $transition-time2, $attr3 $transition-time3;
}

$grey: #7f8c8d;
$side-margin: 7%;
html {
  height: 100%;
  body {
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;

    #Main {
      height: 100%;
      margin: 0;
      top: 0;
      #ingredients-list {
        margin-top: -100%; 
        @include animate(margin-top, 1.5s);
      }
      #query-view {
        #query-container {
          height: 100%;
        }
      }
    }


    h1 {
      color: #fff;
      font-size: 48px;
      text-align: left;
      margin: 0px 0 0 $side-margin;
      padding-top: 30px;
    }

    input {
      margin: 30px 0 0 $side-margin;
      height: 28px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #888;
      vertical-align: middle;
      background-color: #ffffff;
      border: 0px solid #fff;
      outline-width: 2px;
  //    -moz-appearance: none;
  //    -webkit-appearance: none;
      -webkit-box-shadow: inset 0 0px 7px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0 0px 7px rgba(0, 0, 0, 0.4);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    #ingredients-list {
      color: #fff;
      background-color: #34495e;
      width: 100%;
      height: 100%;
    }

    #ingredients {
      width: 100%;
      float: right;
      margin: 15% $side-margin 0 0;
    }

    #query-container {
      background-color: #2980b9;
      height: 100%;
    }

    ul {
      padding: 0px;
      //margin: 50px 0 0 0;
      margin-top: 0px;
      width: 100%;
      //@include animateTwo(margin-top, 0.5s, margin-bottom, 2s);
      @include animateTwo(margin-top, 0.5s, opacity, 0.5s);
      li {
        font-size: 36px;
        list-style: none;
        padding-left: 0px;
        margin-right: $side-margin;
        text-align: right;
        white-space: nowrap;
        opacity: 1;
        @include animateTwo(margin-right, 2.5s, opacity, 1s);
        &.hidden {
          margin-right: 100%;
          opacity: 0;
        }
        &.faded {
          color: #fff;
          opacity: 0.4; 
        }
      }
      &.rejected {
        margin-top: 100%;
        opacity: 0;
      }
    }


    // Clearfix
    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .cf:after {
        clear: both;
    }
  } overflow: hidden;
}
