// Add this class to divs that you wanna animate pushing up or down
// (needs proper positioning to work, i.e. position: relative)
@mixin animate($attr, $transition-time) {
    transition: $attr $transition-time;
    -webkit-transition: $attr $transition-time;
    -o-transition: $attr $transition-time;
    -moz-transition: $attr $transition-time;
}

@mixin animateTwo($attr1, $transition-time1, $attr2, $transition-time2) {
    transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -webkit-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -o-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -moz-transition: $attr1 $transition-time1, $attr2 $transition-time2;
}

.animate-translation {
    @include animate(top, 0.5s);
}

// rest of CSS

body, html {
    height: 100%;
    font-family: "Oxygen", "Helvetica", sans-serif;
    background-color: #2980b9;
}

body{
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

#Main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#Timer-list-container {
    display: none;
    background-color: #999;
    width: 25%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#Timer-list {
    width: 100%;
    // min-width: 400px; // this is causing push down issues, figure out later
    position: relative;
    top: 0px;
    white-space: nowrap;

    .timer {
        background-color: #777;
        // width: 375px;
        width: 95%; // temp fix for overflow on diff browser res
        margin: 12px auto;
        @include animate(margin-right, 1s);
        // margin-right: 0;

        .clock-container {
            width: 100%;
            // text-align: center;
        }

        .timercanvas {
            width: 175px;
            display: inline-block;
            vertical-align: middle;
        }

        .time-remaining {
            font-size: 80px;
            display: inline-block;
            vertical-align: middle;
        }

        .snippet {
            margin: 0px 5px;
            padding: 10px 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

#Instruction-list-container {
    display: none;
    background-color: #2980b9;
    width: 75%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#Instruction-list {
    width: 100%;
    position: relative;
    top: 300px; // THIS SHOULD GET PUSHED UP WHEN YOU SWIPE BY XXXpx

    .instruction {
        color: #fff;
        opacity: 0.6;
        background-color: rgba(1, 1, 1, 0.4);
        text-align: center;
        width: 50%;
        min-width: 50%;
        // max-width: 50%;
        padding: 0 50px;
        margin: 30px auto;
        font-size: 50px;
        position: relative;

        @include animateTwo(font-size, 0.5s, width, 0.5s);

        &.active {
            opacity: 1;
        }
    }


}

.slide {
  @include animateTwo(text-align, 0.5s, color, 0.5s);
}

