// Add this class to divs that you wanna animate pushing up or down
// (needs proper positioning to work, i.e. position: relative)
@mixin animate($attr, $transition-time) {
    transition: $attr $transition-time;
    -webkit-transition: $attr $transition-time;
    -o-transition: $attr $transition-time;
    -moz-transition: $attr $transition-time;
}

@mixin animateTwo($attr1, $transition-time1, $attr2, $transition-time2) {
    transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -webkit-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -o-transition: $attr1 $transition-time1, $attr2 $transition-time2;
    -moz-transition: $attr1 $transition-time1, $attr2 $transition-time2;
}

.animate-translation {
    @include animate(top, 0.5s);
}

// rest of CSS

body, html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
}

p {
    margin: 0;
}

#Main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#Timer-list-container {
    background-color: #999;
    width: 25%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#Timer-list {
    width: 100%;
    // min-width: 400px; // this is causing push down issues, figure out later
    position: relative;
    top: 0px;

    .timer {
        background-color: #777;
        width: 375px;
        margin: 12px auto;

        .timercanvas {
            width: 175px;
            display: inline-block;
        }

        .time-remaining {
            font-size: 80px;
            display: inline-block;
            vertical-align: middle;

        }
    }
}

#Instruction-list-container {
    background-color: #ccc;
    width: 75%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#Instruction-list {
    width: 100%;
    position: relative;
    top: 300px; // THIS SHOULD GET PUSHED UP WHEN YOU SWIPE BY XXXpx

    .instruction {
        background-color: #444;
        text-align: center;
        width: 50%;
        min-width: 50%;
        // max-width: 50%;
        padding: 0 50px;
        margin: 30px auto;
        font-size: 50px;
        position: relative;

        @include animateTwo(font-size, 0.5s, width, 0.5s);

        &.active {
            font-size: 70px;
            width: 70%;
        }
    }


}

.slide {
  @include animateTwo(text-align, 0.5s, color, 0.5s);
}

